/* Basic styling */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* media query */
@media (min-width:375px){
    .navbar{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    }
}

@media (min-width:768px){
    .navbar{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    }
}

@media (min-width:1024px){
    .navbar{
    display:flex;
    align-items:flex-start;
    flex-direction:row;
    }
}