/* Basic styling */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #072552;
}

ul {
    list-style-type: none;
}

/* Header styling */

.header {
      box-sizing: border-box;
      display:flex;
      padding: 20px;
  }

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    justify-content: flex-end;
    padding: 15px;
}

#name {
    display: flex;
    color: #d92357;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding: 15px;
    width: 25%;
    font-size: 30px;
  }

#links {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    width: 75%;
    justify-content:flex-end;
    font-size: 20px;
  }

a {
    color: #d92357;
    text-decoration: none;
}

/* Body styling */

.AboutMe {
     color: #d92357;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     display: flex;
     justify-content: center;
  }

.Work {
    color: #d92357;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }
  

.banner{
    background-image: url("./../images/banner-fog-city.jpg");
    height: 256px;
    background-size: cover;
}

.subtitle {
    background-color: #3f2a59;
    color: #d92357;
    text-align: center;
    position: absolute;
    width: 100px;
    top: 300px;
    right: 40px;
    padding: 10px;
}

.sections {
    width: 20%;
    padding: 30px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    text-align: end;
    border-right: #3f2a59 10px solid;
}

.firstrow {
    padding: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

.poem {
    padding: 10px;
    width: 50%;
}

.topimage {
    width: 50%;
    background-image: url("./../images/topimage.jpg");
    background-size: cover;
    padding: 10px;
    border: #d92357 solid 5px;
    height: 250px;
}

.image1 {
    width: 375px;
    background-image: url("./../images/sm-image-1.jpg");
    background-size: cover;
    padding: 10px;
    border: #d92357 solid 5px;
    height: 180px;
    margin-right: 20px;
}

.image2 {
    width: 375px;
    background-image: url("./../images/sm-image-2.jpg");
    background-size: cover;
    padding: 10px;
    border: #d92357 solid 5px;
    height: 180px;
}

.image3 {
    width: 50%;
    background-image: url("./../images/sm-image-3.jpg");
    background-size: cover;
    padding: 10px;
    border: #d92357 solid 5px;
    height: 250px;
}

.image4 {
    width: 50%;
    background-image: url("./../images/sm-image-4.jpg");
    background-size: cover;
    padding: 10px;
    border: #d92357 solid 5px;
    height: 250px;
}

.phototitle {
    font-size: 30px;
    background-color: #3f2a59;
    padding: 5px;
    width: 200px;
    height: 30px;
}

.photosub {
    background-color: #3f2a59;
    padding: 5px;
    width: 200px;
    height: 25px;
}


/* li:hover {
    font-size: larger;
} */

/* media query */
@media (min-width:375px){
    .header{
    display:flex;
    flex-direction:column;
    }
}

@media (min-width:768px){
    .header{
    display:flex;
    flex-direction:column;
    }
}

@media (min-width:1024px){
    .header{
    display:flex;
    flex-direction:row;
    }
}